.DS_Store
examples/genMPDeform.cpp
examples/extractBdry.cpp

*.vtp
*.vts
*.vtu
*.pvd

# Phase-field-fracture input files
filedata/phase-field-fracture/*
!filedata/phase-field-fracture/AT-1_Order2/shear_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/shear_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/tensile_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/tensile_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/shear_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/shear_THB_4l0_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/tensile_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order2/tensile_THB_4l0_0.50l0/*.xml

!filedata/phase-field-fracture/AT-2_Order2/shear_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/shear_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/tensile_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/tensile_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/shear_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/shear_THB_4l0_0.50l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/tensile_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-2_Order2/tensile_THB_4l0_0.50l0/*.xml

!filedata/phase-field-fracture/AT-1_Order4/shear_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_THB_4l0_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_THB_4l0_0.50l0/*.xml

!filedata/phase-field-fracture/AT-1_Order4/shear_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_TB_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_TB_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/shear_THB_4l0_0.50l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_THB_4l0_0.25l0/*.xml
!filedata/phase-field-fracture/AT-1_Order4/tensile_THB_4l0_0.50l0/*.xml

